<div class="wrapper" is="hero-v1-preload">
	<div id="hero" class="hero-component fullwidth v1 fb flend">
		<img class="hero-image" src="{{ post.custom.image.src }}" alt="{{ post.custom.image }}"/>
		<div class="hero-component-text">
			<h1>
				{{ post.custom.title|e }}
			</h1>
		</div>
	</div>
</div>